/node_modules
/vue-admin/node_modules
/public/hot
/public/storage
/public/tickets
/public/routes
/public/headers
/public/sitemap.xml
/public/sitemap.local.xml
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode